.burger {
    color: gray;
    font-size: 35px;
    width: 50px;
    margin-left: auto;
    margin-right: 10px;
    padding: 10px;
}
.menu-item {
    text-align: center;
}
.menu-item:hover {
    background-color: lightgrey;
}