.well {   
    height: 3em;
    border-radius: 15px;
}
.well {
    width: auto;
    align-content: justify;
}
.btn-group {
    align-content: justify;
}
.btn-hoodlm{
    height: 2em;
    background-color: white;
    color: black;
    padding: 4px 10px 0 10px;
}
.btn-hoodlm:hover{
    color: white;    
    text-shadow: 0 0 2px black;
}
#small{
    margin-top: -40px;
    width: 112%;    
}