<div id="small">
  <div class="well well-sm">
    <div class="btn-group">
      <div class="btn btn-hoodlm" *ngFor="let category of productService.categories">
        <div (click)="smallGoToCategory(category.Name)">{{ category.Name }}</div>
      </div>
    </div>
    <div class="btn-group">
      <div class="btn btn-hoodlm">
        <div (click)="sale()">On Sale</div>        
      </div>
      <div class="btn btn-hoodlm">
        <div (click)="popular()">Popular</div>
      </div>
  </div>
</div>