.well {
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}
.btn:hover{
    opacity: 0.4;
    background-color: black;
    color: white;
}
#small{
    overflow-wrap: auto;
    margin-bottom: -50px;
}
