<div class="container">
    <div class="row list-group">
        <div class="item col-xs-12">
            <div class="col-md-6">
                <img class="detailImg" src="{{ imageUrl.value }}"/>   
            </div>
            <div class="col-md-6 caption">
                <div class="row">
                    <div class="col-xs-7">
                    <h4>Name</h4>                        
                    <md-input-container>
                       <input  class="form-control"  md-input type="text" #name required="required" placeholder="Name">
                    </md-input-container>
                    <h4>JobTitle :</h4>
                          <md-input-container>
                            <input class="form-control"  md-input type="text" #jobtitle required="required" placeholder="JobTitle">
                        </md-input-container>
                        <h4>Age</h4>
                        <md-input-container>
                           <input class="form-control"  md-input step="1" type="number" #age placeholder="Age">
                        </md-input-container>
                    <div class="clearfix">
                    </div>

                    <h4>PersonalQuote</h4>                        
                    <md-input-container class="col-xs-12">
                      <textarea md-input type="text" #personalQuote required="required" placeholder="Personal Quote"></textarea>
                    </md-input-container>  

                    <h4>Image</h4>                        
                    <md-input-container id="textarea" class="col-xs-12">
                      <textarea class="imageUrl" md-input  type="text" #imageUrl placeholder="Image"></textarea>
                    </md-input-container>

                    <div class="clearfix">
                    </div>
                    <div class="wrap">
                        <div class="col-xs-12">
                            <button class="hud" (click)="create(name, jobtitle, age, personalQuote, imageUrl)" class="btn btn-warning">Create</button>
                        </div>
                    </div>                
                </div>
            </div>
        </div>
    </div>
</div>