<footer class="footer-distributed navbar navbar-inverse navbar-fixed-bottom">
			<div class="footer-left">
				<app-logo class="logo"></app-logo>
			</div>
			<div class="footer-center">
				<div>
					<p><span>Hlíðarmsári 5</span> Reykjavík, Iceland</p>
				</div>
				<div>
					<p>+354 555 1234</p>
				</div>
				<div>
          <p><button md-menu-item (click)="openContactDialog()">Contact</button></p>
				</div>
			</div>
			<div class="footer-right">
				<p class="footer-company-about">
					<span id="about" (click)="openAboutDialog()">About the company</span>
					Lorem ipsum dolor sit amet, consectateur adispicing elit. Fusce euismod convallis velit, eu auctor lacus vehicula sit amet.
				</p>
			</div>
</footer>