<div class="container">
    <div class="row list-group">
        <div class="col-xs-12">
            <div *ngIf="valueService.activeProduct.value">
                <div class="col-md-6 col-xs-12">
                    <img class="detailImg" src="{{ valueService.activeProduct.value.ImageUrl }}"  alt="image-not-found" />
                <app-rating-show></app-rating-show>      
                </div>
                <div class="col-md-6 col-xs-12 caption">
                    <a (click)="goBack(valueService.activeProduct.value.CategoryName)" data-toggle="tooltip" title="Go Back"><span class="glyphicon glyphicon-chevron-left"></span></a>
                    <h1 class="product-name">
                        {{ valueService.activeProduct.value.Name}}</h1>
                    <div class="row">
                        <div class="col-xs-12 col-md-5">
                            <h2 class="discount" *ngIf="valueService.activeProduct.value.Discount > 0"> -{{ valueService.activeProduct.value.Discount }}% </h2>
                            <p class="lead">
                            {{ valueService.activeProduct.value.Price | number:'1.0-0' }}
                            <span *ngIf="valueService.activeProduct.value.Discount > 0"><span class="old-price">_____</span>
                            {{ valueService.activeProduct.value.DiscPrice | number:'1.0-0' }}</span> kr.</p><br />
                        </div>
                        <div class="clearfix">
                        </div>
                        <div class="col-xs-12 col-md-12">
                            <p class="description">{{ valueService.activeProduct.value.Description}}</p>                            
                        </div>
                        <div class="clearfix">
                        </div>
                        <div *ngIf="valueService.isAdminLoggedIn.value != true" class="wrap">
                            <div class="col-xs-12 col-md-6">
                                <md-slider type="number" [(ngModel)]="Quantity" step="1" min="1" max="50"></md-slider>
                                <input class="addNumber" type="number" [(ngModel)]="Quantity" step="1" min="1" max="50">
                                <button class="btn btn-info" (click)="addToCart(valueService.activeProduct.value, valueService.activeProduct.value.Id, Quantity)">Add to cart</button>                                
                            </div>
                            <div id="rating" class="col-xs-12 col-md-6">
                                <h6 data-toggle="tooltip" title="Click On Stars To Rate" >rate me!</h6>
                                <app-rate-product></app-rate-product>
                            </div>
                        </div>
                        <div *ngIf="valueService.isAdminLoggedIn.value == true" class="wrap">
                            <div class="col-xs-12 col-md-6">
                                <button class="btn btn-info" (click)="editProduct(valueService.activeProduct.value.Id)">Edit Product</button>
                            </div>
                        </div>
                        <div class="clearfix"></div>                        
                        <div class="col-xs-12 col-md-12">
                            <app-comments></app-comments>
                        </div>                 
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>