<div class="container">
    <div class="row list-group">
        <div class="item col-xs-12">
            <div *ngIf="productService.product">
                <div class="col-md-6 col-xs-12">
                    <img class="detailImg" src="{{ productService.product[0].ImageUrl }}"/>
                </div>
                <div class="col-md-6 col-xs-12 caption">
                    <a (click)="back()" data-toggle="tooltip" title="Go Back"><span class="glyphicon glyphicon-chevron-left"></span></a>
                    <h1 class="group inner list-group-item-heading">
                        <input hidden #id [(ngModel)]="productService.product[0].Id" />
                        <label>Product Name: </label>
                        <input [(ngModel)]="productService.product[0].Name" #name/>
                    </h1>
                    <div class="form-group">
                      <label class="col-md-4 control-label">Category </label>
                      <div class="input-group">
                        <select class="form-control" #categoryId>
                          <option id="cat" *ngFor="let category of productService.categories" [value]="category.Id">{{category.Name}}</option>
                        </select>
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-6">
                      <h3 class="group inner list-group-item-heading">
                        <label>Price: </label>
                        <input id="price" type="number" step="250" [(ngModel)]=" productService.product[0].Price" #price/>
                      </h3>
                    </div>
                    <div class="clearfix"></div>
                    <div class="col-xs-12 col-md-6">
                      <h3 class="group inner list-group-item-heading" >
                        <label>Image Url: </label>
                        <textarea id="imgUrl" [(ngModel)]="productService.product[0].ImageUrl" #imgUrl></textarea>
                      </h3>
                    </div>
                    <div class="col-xs-12 col-md-6">
                      <h3 class="group inner list-group-item-heading" >
                        <label>Description: </label>
                        <textarea id="description" [(ngModel)]="productService.product[0].Description" #description></textarea>
                      </h3>
                    </div>
                    <div class="clearfix"></div>                    
                    <div class="col-xs-12 col-md-6">
                      <h3 class="group inner list-group-item-heading">
                        <label>Discount: %</label>
                        <input type="number" min="0" max="99" id="discount" [(ngModel)]="productService.product[0].Discount" #discount/>
                      </h3>
                    </div>
                    <div class="clearfix"></div>
                    <div class="col-xs-12 col-md-6">
                        <a (click)="save(id, name, categoryId, price, imgUrl, description, discount)" class="btn btn-success">Save Changes</a>
                        <a (click)="delete(productService.product[0].Id); $event.stopPropagation()" class="btn btn-danger">Delete Product</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>