.views{
    margin-bottom: -1em;
    position: absolute;
    z-index: 5;
}
.thumbnail img {
    opacity: 0.99;
    height: 280px;
}
.thumbnail {
    border: none;
    overflow: hidden;
    height: 400px;    
}
.thumbnail:hover {
    cursor: pointer;
}
.thumbnail:hover img {
    opacity: 0.7;        
}
.discount {
    transform: rotate(15deg);
    position: absolute;
    margin-top: -50px;
    color: red;
}
.old-price {
    transform: rotate(-10deg);    
    position: absolute;
    z-index: 5;
    color: red;
    margin-left: -3em;
    margin-top: -0.5em;
}