<div class="container">
    <form class="well form-horizontal" method="post">
            <legend>Create New Staff</legend>
            <div class="form-group">
                <label class="col-md-4 control-label">Name</label>
                <div class="input-group">
                    <input class="form-control" type="text" #name required="required" placeholder="Name">
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-4 control-label">JobTitle </label>
                  <div class="input-group">
                        <input class="form-control" type="text" #jobtitle required="required" placeholder="JobTitle">
                  </div>
            </div>
            <div class="form-group">
                <label class="col-md-4 control-label">Age </label>
                  <div class="input-group">
                      <input class="form-control" step="1" type="number" #age placeholder="Age">
                  </div>
            </div>
            <div class="form-group">
                <label class="col-md-4 control-label">PersonalQuote </label>
                <div class="input-group">
                    <input class="form-control" type="text" #personalQuote  placeholder="PersonalQuote">
                </div>
            </div>           
             <div class="form-group">
                <label class="col-md-4 control-label">Image </label>
                <div class="input-group">
                    <input class="form-control" type="text" #imageUrl  placeholder="Image">
                </div>
            </div>
            <!-- Buttons -->
            <div class="form-group">
                <label class="col-md-4 control-label"></label>
                <div class="col-md-4">
                    <button (click)="create(name, jobtitle, age, personalQuote, imageUrl)" class="btn btn-warning">Create</button>
                    <button (click)="cancel()" class="btn btn-success">Cancel</button>
                </div>
            </div>
    </form>
</div>