.thumbnail {
    height: 280px;
    border: 0px solid rgba(0, 0, 0, 0);
    margin-right: 18px;
}
.thumbnail:hover .img-responsive {
    transition: opacity 1000ms;
    opacity: 0.6;
}
.thumbnail:hover, .inner:hover {
    cursor: pointer;
}
.thumbnail:hover .caption {
    transition: opacity 1000ms;    
    opacity: 1;     
}
.frame {
    height: 250px;
    width: auto;
    z-index: 15;
    overflow: hidden;
}
.img-responsive {
    transition: all 2s ease-out;    
    width: 100%;
    height: 280px;
    opacity: .9;
}
h1, h1 *{
    font-size: 3em;
    font-weight: bold;
    opacity: 0.8;
    text-shadow: 0 0 5px white;
}
.inner {
    color: rgba(0, 0, 0, 0.75);
    width: fit-content;
    top: 20%;
    padding: 21px;
    position: absolute;
    text-align: center;
}
.btn {
    margin: 15px 25px 15px 25px;
}
.caption {
    transition: all 1.5s ease-out;            
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    margin-top: -47px;
    margin-bottom: 15px;
    position: relative;
    z-index: 5;
    opacity: 0; 
}