<div class="container">
    <form class="well form-horizontal" method="post" id="contact_form">
        <fieldset>
            <!-- Form Name -->
            <legend>Register</legend>
            
            <!-- E-mail-->
            <div class="form-group">
                <label class="col-md-4 control-label">E-Mail</label>
                <div class="col-md-4">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
                        <input class="form-control" type="text" #email required="required" placeholder="Email">
                    </div>
                </div>
            </div>    
            <!-- E-mail-->
            <div class="form-group">
                <label class="col-md-4 control-label">User Name</label>
                <div class="col-md-4">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                        <input class="form-control" type="text" #username required="required" placeholder="UserName">
                    </div>
                </div>
            </div>
            <!-- Password -->
            <div class="form-group">
                <label class="col-md-4 control-label">Password </label>
                <div class="col-md-4">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
                        <input class="form-control" type="password" #password required="required" placeholder="Password">
                    </div>
                </div>
            </div>
            <!-- Password Confirm -->
            <div class="form-group">
                <label class="col-md-4 control-label">Password Confirm</label>
                <div class="col-md-4">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
                        <input class="form-control" type="password" #confirmPassword required="required" placeholder="Confirm Password">
                    </div>
                </div>
            </div>
            <!-- Buttons -->
            <div class="form-group">
                <label class="col-md-4 control-label"></label>
                <div class="col-md-4">
                    <button (click)="registerNew(email, username, password, confirmPassword)" class="btn back-color-3">Register</button>
                </div>
            </div>
        </fieldset>
    </form>
</div>