<div class="row">
    <app-categories-small></app-categories-small>
</div>
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="white col-lg-3 col-md-3 col-sm-3 col-xs-3">
        <h1 *ngIf="accountService.userName != ''">{{ accountService.userName }}'s Basket </h1>
        <h1 *ngIf="accountService.userName == ''">Guest Basket </h1>
      <div *ngIf="basketService.numberOfItemsInBasket !== 0">
        <h3 class="active2" style="text-align:right"> {{ basketService.numberOfItemsInBasket }} items</h3>
        <div>
            <h3>Total Price :</h3>
            <div class="clearfix"></div>
            <h3 class="active2" style="text-align:right">{{ basketService.basketTotalPrice | number:'1.0-0' }} kr.</h3>
            <button class="pull-right btn btn-success">Check Out</button>
            <button (click)="emptyBasket()" class="pull-right btn btn-danger">Empty Basket</button>
        </div>
      </div>
    </div>
    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
        <div *ngIf="accountService.userName != '' && basketService.numberOfItemsInBasket === 0">
            <h1 class="white">WTF {{ accountService.userName }}! Your basket is empty!</h1>
            <button class="btn btn-success" routerLink="/store">Back To Store</button>
        </div>
        <div *ngIf="accountService.userName == '' && basketService.numberOfItemsInBasket === 0">
            <h1 class="white">Your basket is empty!</h1>
            <button class="btn btn-success" routerLink="/store">Back To Store</button>
        </div>
        <ul class="list-group">
            <li class="list-group-item" *ngFor="let product of basketService.itemsInBasket">
                <div class="row" (click)="productDetail(product.Id)">
                <div class="col-md-4">
                     <h3 *ngIf="product.Quantity > 1" class="quantity">{{ product.Quantity }} x </h3> 
                <img class="basketImg " src="{{ product.ImageUrl }}">
                </div>
                <div class="col-md-4">
                    <h4>{{ product.Name}}</h4>
                    <h4 class="discount" *ngIf="product.Discount > 0"> -{{ product.Discount }}% </h4>
                </div>
                <div class="col-md-4">
                    <span >{{ product.Price | number:'1.0-0' }}</span>
                    <span *ngIf="product.Discount > 0"><span class="old-price">_____</span>
                                {{ product.DiscPrice | number:'1.0-0' }}</span> kr.<br />
                    <span class="btn-xs btn btn-danger" (click)="remove(product, product.Id); $event.stopPropagation()">x</span>
                    <span class="btn-xs btn btn-success" (click)="addToCart(product, product.Id); $event.stopPropagation()">+</span>
                    <h3 class="active2"> Total Price <br /> {{ product.TotalPrice }} </h3>
                </div>
                </div>      
            </li>
        </ul> 
    </div>
</div>

