<button class="hud" id="open-menu-button" md-button (click)="sidenav.open()">Menu</button>
<app-account-tab></app-account-tab>
<app-search-bar></app-search-bar>
<md-sidenav-container class="main-container">
    <app-logo id="logo"></app-logo>
    <md-sidenav mode="push" #sidenav class="sidenav">
        <app-menu></app-menu>
    </md-sidenav>
    <div class="app-content">
        <router-outlet></router-outlet>
    </div>
</md-sidenav-container>
<app-basket-preview></app-basket-preview>
<app-footer></app-footer>