.fam {
    padding: 3em;
    text-align: center;
}
.heading{
    font-family: 'Merriweather', serif;
}
.mother {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: flex-end; 
    height: auto;
}
.child {
    padding: 3em;
    margin: 0 40px;
    overflow: hidden;
    align-self: flex-start;
    transition: margin 300ms;
}
@media(min-width: 933px){ /* úr polaroid í röð*/
    .child{
        margin-bottom: 40px;           
    }
}
.child:hover{
    opacity: 0.9;
    cursor: pointer;
}
.child > img {
    width: 300px;
    height: 300px;
}
