<div class="container">
    <form class="well form-horizontal" method="post">
            <legend>Create New Password</legend>
            <div class="form-group">
                <label class="col-md-4 control-label">Old Password</label>
                <div class="input-group">
                    <input class="form-control" type="text" #oldpassword required="required" placeholder="Old Passowrd">
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-4 control-label">New Passowrd </label>
                  <div class="input-group">
                        <input class="form-control" type="text" #newpassword required="required" placeholder="New Passowrd">
                  </div>
            </div>
            <div class="form-group">
                <label class="col-md-4 control-label">Confirm Password </label>
                  <div class="input-group">
                      <input class="form-control" type="text" #confirmpassword required="required" placeholder="Confirm Password">
                  </div>
            </div>
            <!-- Buttons -->
            <div class="form-group">
                <label class="col-md-4 control-label"></label>
                <div class="col-md-4">
                    <button (click)="savePassword(oldpassword, newpassword, confirmpassword)" class="btn btn-warning">Save</button>
                    <button (click)="cancel()" class="btn btn-success">Cancel</button>
                </div>
            </div>
    </form>
</div>