<app-categories-small-burger></app-categories-small-burger>
<app-categories-small></app-categories-small>
<div class="fam">
    <div class="mother">
        <md-card class="child" *ngFor="let product of valueService.selectedCategoryList" (click)="productDetail(product.Id)">
            <img md-card-image src="{{ product.ImageUrl }}" alt="https://pbs.twimg.com/profile_images/600060188872155136/st4Sp6Aw.jpg">
            <md-card-title><b class="heading">{{ product.Name}}</b></md-card-title>
            <md-card-content>
                <del *ngIf="product.Price != product.DiscPrice">{{product.Price | number:'1.0-0' }}</del>
                <b>{{ product.DiscPrice | number:'1.0-0' }}</b>
                 kr.
            </md-card-content>
            <md-card-subtitle class="noticeable" *ngIf="valueService.selectedCategoryName == 'on sale'"> -{{ product.Discount }}%</md-card-subtitle>
            <md-card-subtitle class="noticeable" *ngIf="valueService.selectedCategoryName == 'popular'">{{ product.Views }} views</md-card-subtitle>
        </md-card>
    </div>
</div>