<div id="changePass" class="container">
    <md-input-container>
        <input md-input type="password" #oldpassword required="required" placeholder="Old Password"/>
    </md-input-container><br />
    <md-input-container>
        <input md-input  type="password" #newpassword required="required" placeholder="New Password"/>
    </md-input-container><br />
    <md-input-container>
        <input md-input  type="password" #confirmpassword required="required" placeholder="Confirm Password" (keyup.enter)="savePassword(oldpassword, newpassword, confirmpassword)"/>
    </md-input-container><br />
    <button md-button (click)="savePassword(oldpassword, newpassword, confirmpassword)" class="hud">Save</button>
</div>
