@import '~@angular/material/core/theming/prebuilt/indigo-pink.css';
.no-style { /* md-card */
    box-shadow: none;
}
div {
    background-color: transparent;
}
html, body {
    height:100%;
    width:100%;
    margin:0;
    margin-bottom: 120px;
    padding:0;
    overflow: hidden;
}
body:hover{
    cursor: default;
}
.hud{
  font-weight: bold;
  background-color: powderblue;
}
.hudd{
  color: powderblue;
}
h1,h2,h3,h4,h5{
    font-family: 'Merriweather', serif;
}
@media (max-width: 560px){
    app-categories-small {
        display: none;
    }
}
@media (min-width: 560px){
    app-categories-small-burger {
        display: none;
    }
}