<div class="container">
<fieldset id="my-rating" class="rating">
    <legend>rate me!</legend>
    <input #r10 (change)="rate(r10)" type="radio" value="5" id="star5"/><label class="full" for="star5"></label>
    <input #r9 (change)="rate(r9)" type="radio" value="4.5" id="star4half"/><label class="half" for="star4half"></label>
    <input #r8 (change)="rate(r8)" type="radio" value="4" id="star4"/><label class="full" for="star4"></label>
    <input #r7 (change)="rate(r7)" type="radio" value="3.5" id="star3half" /><label class="half" for="star3half"></label>
    <input #r6 (change)="rate(r6)" type="radio" value="3" id="star3"/><label class="full" for="star3"></label>
    <input #r5 (change)="rate(r5)" type="radio" value="2.5" id="star2half"/><label class="half" for="star2half"></label>
    <input #r4 (change)="rate(r4)" type="radio" value="2" id="star2" /><label class="full" for="star2"></label>
    <input #r3 (change)="rate(r3)" type="radio" value="1.5" id="star1half" /><label class="half" for="star1half"></label>
    <input #r2 (change)="rate(r2)" type="radio" value="1" id="star1"/><label class="full" for="star1"></label>
    <input #r1 (change)="rate(r1)" type="radio" value="0.5" id="starhalf"/><label class="half" for="starhalf"></label>
</fieldset>
</div>